<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
     <th scope="col">#Codigo</th>
      <th scope="col">#Status</th>
    
    </tr>
  </thead>
  <tbody>
      <td><%= state.codigo %></td>
      <td><%= state.nombre %></td>
      
      

</table>
<table class="table table-danger table-striped ">
  <thead>
      <th scope="col">Proyectos</th>
    </tr>
  </thead>
  <tbody>
 <div style = "visibility: hidden"><%= i = 0  %> </div> 
    <% @projects.each do |project| %>
      <tr>
        <td> <%=  project.nombre %> </td>
      </tr>
   <% end %>
   </tbody>
   
</table>
