
<table class="table table-success table-striped table-bordered">
  <thead>
    <tr>
     <th scope="col">#Codigo</th>
      <th scope="col">#Status</th>
      <th scope="col">Proyectos</th>
    </tr>
  </thead>
  <tbody>
      <td><%= state.codigo %></td>
      <td><%= state.nombre %></td>

</table>
