<p style="color: green"><%= notice %></p>

<%= render @state %>

<div class="d-grid gap-2 d-md-flex justify-content-md-end" >
  <%= link_to "Volver a Reportes", states_path, class: "btn btn-secondary btn-sm"%>
</div>

