<div id="<%= dom_id state_project %>">
  <p>
    <strong>Fecha transicion:</strong>
    <%= state_project.fecha_transicion %>
  </p>

  <p>
    <strong>State:</strong>
    <%= state_project.State_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= state_project.Project_id %>
  </p>

</div>
