<h1>Editar</h1>

<%= render "form", state_project: @state_project %>

<br>

<div>
  <%= link_to "Show this state project", @state_project %> |
  <%= link_to "Back to state projects", state_projects_path %>
</div>
