<div id="<%= dom_id estado %>">
  <p>
    <strong>Nombre:</strong>
    <%= estado.nombre %>
  </p>

<table class="table table-success table-striped table-bordered">
  <thead>
      <th scope="col">Ciudades:</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
      <td> <%= city.nombre %> </td>
      </tr>
   <% end %>
   </tbody>
</table>
</div>
